*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    
    background: linear-gradient(to right, #dae2f8, #d6a4a4);
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: left;
    align-content: center;
}

.square {
    border:1px solid black;
}